body 
{
	font-family: Helvetica, sans-serif;
}

#maincontainer
	{
	width: 800px;
	margin: auto;
	}

	#surveycontainer
		{
		border:1px solid black;
		padding-top: 5px;
		padding-bottom: 5px;
		}
	
		#stitle
			{
			margin: 5px;
			margin-top: 0px;
			font-size: 20px;
			font-weight: bold;
			padding: 13px;
			text-align: right;
			border:1px solid black;
			}
		#sdescription
			{
			margin: 5px;
			font-size: 15px;
			font-weight: bold;
			padding: 10px;
			text-align: right;
			border:1px solid black;
			}

		#submit
			{		
			padding: 10px;
			text-align: center;
			}
			
		#questioncontainer
			{
			padding-top: 10px;
			padding-bottom: 10px;
			}
			
			#qtitle
				{
				font-size: 17px;
				font-weight: bold;
				padding: 13px;
				padding-left: 30px;
				text-align: left;
				}
			
			div[id^='answercontainer']
				{
				font-size: 14px;
				padding: 4px;
				}
			
				#multipleoptions
					{
					padding: 3px;
					padding-left: 40px;
					left: 20px;
					text-align: left;
					border-bottom: solid 1px rgb(230,230,230);
					}
				
					#texthalf
						{
						height: 20px;
						padding: 3px;
						left: 0%;
						width: 44%;
						position: relative;
						float: left;
						}
						
					#graphborder
						{
						height: 20px;
						padding: 3px;
						border: solid 1px black;
						padding-right: 5px;
						left: 51%;
						width: 44%;
						position: relative;
						background-color: rgb(245,245,245);
						}
						
						div[id^='graph']
							{
							padding: 1px;
							height: 18px;
							background-color: rgb(180,180,210);
							text-align: left;
							font-weight: bold;
							}
							
							#textpercent
								{
								position:absolute;
								right: 20px;
								}
